
.container {
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 20px;
    -moz-box-shadow: 2px 2px 6px 2px #ccc;
    -webkit-box-shadow: 2px 2px 6px 2px #ccc;
    box-shadow: 2px 2px 6px 2px #ccc;
    max-height: 94%;
    width : 70%;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction:column;
}
@media only screen and (max-width: 480px){
  .container {
      width: 90%;
      margin: 0 auto;
 }
}
@media (min-width: 500px) {
    .container {
        width: 70%;
        margin: 0 auto;
   }
}
#perdido {
    margin-top: 10px;
    background: #F9DEDE;
    border: 1px solid #CFB2B1;
    border-radius: 5px;
    padding: 20px;
}

#ganado {
    margin-top: 10px;
    background: #A9F5BC;
    border: 1px solid #00FF00;
    border-radius: 5px;
    padding: 20px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
